:root {
  /* Color codes */
  --brown-color: #8E4400;
  --green-color: #374B41;
  --dark-beige-color: #D8C3A6;
  --light-beige-color: #FCF3E8;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


input {
  padding: 5px;
  border-radius: 5px;
}

button {
  padding: 5px;
  border-radius: 5px;
}

a {
  text-decoration: none;
  list-style: none;
}